/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definição de valores padrões para utilização em todo o código */
:root {
    --main-color: #0e0d0d;
    --text-color: #FFFAFA;
    --bg-color-01: #f0f0f0;
    --bg-color-02: #00eeff;
    --color-00: #000000d5;
    --color-01: #e22c14c4;
    --color-02: #ec780be1;

}

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;    
}

/*  */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/*  */
body {
    background-color: var(--main-color);
    color: var(--text-color);
}

/*  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 1.4rem;
}

/* */
.logo {
    cursor: default;
}

/* */
.nav{
    display: flex;
    list-style-type: none; /* para subir com a bolinha do lado do NAV */
}

/*  */
.nav a{
    color: var(--text-color);
    gap: 1.4rem;
    display: flex;
    margin-right: 1.5rem;
}

/* */
.nav a:hover {
    color: #0077ff;
}

/*  */
.logo {
    color: var(--bg-color-01);
}

/* */
span {
    color: var(--color-02);
}

/*  */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

/*  */
.text-container {
    text-align: center;
    padding: 11rem;
    position: relative;
}

/*  */
.text-container h1 {
    font-size: 4.4rem;
}

/*  */
.text-container h2 {
    margin-top: 1rem;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

/* */
.areaatuacao {
    padding: 2rem;
    text-align: center;
    margin-top: 7.9rem;
}

/* */
.areaatuacao-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
}

/* */
.areaatuacao-item:hover {
    transform: scale(1.085);
}

/* */
.areaatuacao-item {
    border-radius: 15px;
    margin: 1.1rem;
    width: calc(12% + 18rem);
    margin-top: 2rem;
}

/* */
.areaatuacao-item img {
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 11px 0 15px 2px #000000;
}

/* */
.areaatuacao-content {
    color: var(--bg-color-01);
    font-size: 1.2rem;
    margin-top: 1.3rem;
}

/* */
.areaatuacao-content p{
    margin-top: 1.2rem;
}

/* */
.btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px 15px;

}

/* */
.btn:hover {
    color: var(--color-02);
}

/* */
.areaatuacao-buttons {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* */
.video-container {
    margin-top: 3rem;
    max-width: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* */
.video-container video {
    width: 100%;
    box-shadow: 11px 0 15px 2px #000000;
    border-radius: 25px;
}

/* */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: -1rem;
}

/* */
.about-content {
    text-align: center;
    max-width: 90%;
    font-size: 1.3rem;
    margin-top: 2rem;
}

/* */
.about-content p {
    margin-top: 1rem;
}

/* */
.aboutus-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* */
.aboutus {
    margin-top: 35px;
}

/* */
.aboutus a {
    text-decoration: none;
    font-size: 1.45em;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/* */
.aboutus a:hover {
    background-color: var(--color-02);
}

/* */
.aboutus:hover {
    transform: scale(1.08);
}

/* */
.produtos {
    padding: 2rem;
    text-align: center;
    margin-top: 7.9rem;
}

/* */
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
}

/* */
.produtos-item:hover {
    transform: scale(1.035);
}

/* */
.produtos-item {
    border-radius: 15px;
    margin: 1.1rem;
    width: calc(12% + 18rem);
    margin-top: 2rem;
}

/* */
.produtos-item img {
    width: 80%;
    position: relative;
    overflow: hidden;
    box-shadow: 11px 0 15px 2px #000000;
}

/* */
.produtos-content p{
    margin-top: 1.2rem;
}

/* */
.produtos-buttons {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* */
.produtos-buttons a {
    text-decoration: none;
    padding: 5px 16px;
    border-radius: 5px;
    display: inline-block;
}

/* */
.comprar {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #45a049;
}

/* */
.comprar:hover {
background-color: #b31363;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #252525; /* Cor de fundo para o retângulo */
    padding: 20px;
    margin-top: 17rem;
    box-shadow: 11px 0 15px 2px #000000;
}

.contact-info {
    width: 30%; /* Largura da seção de informações de contato */
    padding: 20px;
    margin-right: 20px; /* Espaçamento entre as seções */
    color: #ffffff; /* Texto preto */
    font-size: 1.11rem;
}

.contact-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff; /* Texto preto */
}

.contact-info p {
    margin-bottom: 20px; /* Ajuste o espaço entre os parágrafos conforme necessário */
}

.contact-form {
    width: 60%; /* Largura da seção do formulário de contato */
    padding: 20px;
}

.contact-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff; /* Texto preto */
}

form {
    display: flex;
    flex-direction: column;
    color: #ffffff; /* Texto preto */
    font-size: 0.9rem;
}

label {
    font-weight: bold;
    color: #ffffff; /* Texto preto */
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px; /* Reduzi o padding para compactar os campos */
    margin-bottom: 10px; /* Espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Cor de fundo do botão enviar */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Cor de fundo do botão enviar ao passar o mouse */
}

.social-icons {
    font-size: 3rem;
}

.social-icons a {
    color: var(--text-color);
}

.social-icons a:hover {
    color: #0077ff;
    transition: color 0.4s ease;
}

/* */
footer {
    text-align: center;
    padding: 3rem;
    margin-top: 8rem;
}