<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Premium!</title>
    <!-- Ícones Box-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Referência ao Arquivo CSS -->
    <link rel="stylesheet" href="../static/css/perfil.css">
</head>
<body>
    <!-- Barra de Navegação-->
    <header>
        <a href="home.html" class="logo">Prática Sênior</a>

        <nav>
            <ul class="nav">
                <a href="#home">Início</a>
                <li><a href="loja.html">Loja Sênior</a></li>
                <li><a href="vendas.html">Quero Vender</a></li>
                <a href="home.html#produtos">Nossos Produtos</a>
                <li><a href="premium.html">Seja +</a></li>
                <a href="home.html#contact">Contato</a>
            </ul>
        </nav>
    </header>
    <!-- /Barra de Navegação-->

    <!-- Perfil -->
    <section>
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-pic-container">
                    <img src="../img/avatar.png" alt="Sua Foto" class="profile-pic">
                </div>
                <div class="profile-info">
                    <h1 id="username">Primeiro Nome</h1>
                    <p id="user-description" class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus iusto ex numquam reiciendis aut aliquam impedit consectetur pariatur culpa, hic omnis repellat quia officiis. Voluptas, sequi voluptates? Facere sed necessitatibus ratione accusamus, ullam soluta minima, laborum exercitationem odit quae culpa?</p>
                </div>

                <div class="profile-actions">
                    <button class="btn" onclick="openModal('editProfileModal')">Editar Perfil</button>
                </div>
            </div>

            <!-- Detalhes do usuário -->
            <div class="profile-details">
                <div class="info-group-1">
                    <div class="info-item">
                        <label>Data de Nascimento:</label>
                        <p id="birthdate">DD/MM/AAAA</p>
                    </div>
                    <div class="info-item">
                        <label>Cartão Cadastrado:</label>
                        <p id="card">**** **** **** 1234</p>
                    </div>
                    <div class="info-item">
                        <label>Nome Completo:</label>
                        <p id="fullname">Nome Sobrenome Completo</p>
                    </div>
                    <div class="info-item">
                        <label>Cadastro:</label>
                        <p id="tipocadastro">Vendedor</p>
                    </div>
                </div>

                <div class="info-group-2">
                    <div class="info-item">
                        <label>CPF:</label>
                        <p id="documents">***.***.789-00</p>
                    </div>
                    <div class="info-item">
                        <label>Localização:</label>
                        <p id="location">Cidade, UF</p>
                    </div>
                    <div class="info-item">
                        <label>Email:</label>
                        <p id="email">usuario@example.com</p>
                    </div>
                    <div class="info-item">
                        <label>Instagram Profissional:</label>
                        <p id="social">@usuario</p>
                    </div>
                </div>
            </div>
            <!-- /Detalhes do usuário -->
        </div>
    </section>
    <!-- /Perfil -->

    <!-- Cards de Produtos -->
    <section class="products-container">
        <div class="products">

            <div class="product-actions">
                <button class="btn" onclick="openModal('editProductModal')">Editar</button>
            </div>

        <!-- Produto 1 -->
        <div class="product-card">
            <img src="../img/produto.png" alt="Produto 1">
            <div class="product-info">
            <h3>Nome do Produto 1</h3>
            <p>Descrição breve do Produto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at imperdiet libero.</p>
            <div class="product-footer">
                <span class="product-price">R$ 299,90</span>
                <button class="buy-button">Editar</button>
            </div>
            </div>
        </div>
        <!-- /Produto 1 -->

        <!-- Produto 2 -->
        <div class="product-card">
            <img src="../img/produto.png" alt="Produto 1">
            <div class="product-info">
            <h3>Nome do Produto 1</h3>
            <p>Descrição breve do Produto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at imperdiet libero.</p>
            <div class="product-footer">
                <span class="product-price">R$ 299,90</span>
                <button class="buy-button">Editar</button>
            </div>
            </div>
        </div>
        <!-- /Produto 2 -->
    </section>
    <!-- /Cards de Produtos -->


    <!-- Modal de edição de perfil -->
    <div id="editProfileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editProfileModal')">&times;</span>
            <h2>Editar Perfil</h2>
            <form id="editProfileForm">
                <label for="edit-username">Nome:</label>
                <input type="text" id="edit-username" name="username" maxlength="12" placeholder="Primeiro Nome">
                <p id="usernamecharCounter">12 caracteres restantes</p>

                <label for="edit-picture">Foto de Perfil:</label>
                <img id="selected-pic-preview" class="selected-pic-preview" src="#" alt="Pré-visualização" style="display: none;">
                <button type="button" class="btn change-pic-btn" onclick="openModal('changePicModal')">Trocar Foto</button>

                <label for="edit-description">Descrição:</label>
                <textarea id="edit-description" maxlength="250" name="description" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam pariatur similique, veritatis doloremque earum architecto atque dolores ipsam, itaque illum et cupiditate? Nisi, laboriosam rem dolorum similique maiores ipsa facere. Vero enim reprehenderit hic quisquam et error, reiciendis modi mollitia."></textarea>
                <p id="descriptioncharCounter">250 caracteres restantes</p>

                <label for="edit-birthdate">Data de Nascimento:</label>
                <input type="text" id="edit-birthdate" maxlength="10" name="birthdate" placeholder="DD/MM/AAAA">
                <p id="birthdatecharCounter">10 caracteres restantes</p>

                <label for="edit-card">Cartão Cadastrado:</label>
                <input type="text" id="edit-card" maxlength="19" name="card" placeholder="**** **** **** 1234">
                <p id="cardcharCounter">19 caracteres restantes</p>

                <label for="edit-fullname">Nome Completo:</label>
                <input type="text" id="edit-fullname" maxlength="40" name="fullname" placeholder="Nome Sobrenome Completo">
                <p id="fullnamecharCounter">40 caracteres restantes</p>

                <label for="edit-tipocadastro">Cadastro:</label>
                <input type="text" id="edit-tipocadastro" maxlength="10" name="tipocadastro" placeholder="Vendedor">
                <p id="cadastrocharCounter">10 caracteres restantes</p>

                <label for="edit-documents">Documentos:</label>
                <input type="text" id="edit-documents" maxlength="14" name="documents" placeholder="123.456.789-00">
                <p id="documentscharCounter">14 caracteres restantes</p>

                <label for="edit-location">Localização:</label>
                <input type="text" id="edit-location" maxlength="20" name="location" placeholder="Niterói, RJ">
                <p id="locationcharCounter">20 caracteres restantes</p>

                <label for="edit-email">Email:</label>
                <input type="email" id="edit-email" maxlength="30" name="email" placeholder="usuario@example.com">
                <p id="emailcharCounter">30 caracteres restantes</p>

                <label for="edit-social">Redes Sociais:</label>
                <input type="text" id="edit-social" maxlength="15" name="social" placeholder="@usuario">
                <p id="socialcharCounter">15 caracteres restantes</p>

                <button type="submit" class="btn">Salvar Alterações</button>
            </form>
        </div>
    </div>
    <!-- /Modal de edição de perfil -->

    <!-- Modal de Troca de Foto -->
    <div id="changePicModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('changePicModal')">&times;</span>
            <h2>Trocar Foto do Perfil</h2>
            <form id="changePicForm">
                <label for="profile-pic-upload">Escolha uma nova foto:</label>
                <input type="file" id="profile-pic-upload" name="profile-pic">
                <button type="submit" class="btn">Atualizar Foto</button>
            </form>
        </div>
    </div>
    <!-- /Modal de Troca de Foto -->

    <!-- Modal de Editar o Produto -->
    <div id='editProductModal' class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editProductModal')">&times;</span>
            <h2>Editar</h2>
            <form id="editProductModal">

                ...

                <button type="submit" class="btn"> ... </button>
            </form>
        </div>
    </div>
    <!-- /Modal de Editar o Produto -->

    <footer>
        <p>Copyright &copy; 2024 by &lt;/devxxctor.&gt; All rights Reserved</p>
    </footer>

    <script src="../static/js/perfil.js"></script>

</body>
</html>