<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Premium!</title>
    <!-- Ícones Box-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Referência ao Arquivo CSS -->
    <link rel="stylesheet" href="../static/css/perfil_visita.css">
</head>
<body>
    <!-- Barra de Navegação-->
    <header>
        <a href="{{  url_for('home')  }}" class="logo">Prática Sênior</a>

        <nav>
            <ul class="nav">
                <li><a href="{{  url_for('loja')  }}">Loja Sênior</a></li>
                <li><a href="{{  url_for('vendas')  }}">Quero Vender</a></li>
                <a href="{{  url_for('home')  }}">Nossos Serviços</a>
                <li><a href="{{  url_for('premium')  }}">Seja +</a></li>
                <a href="{{  url_for('home')  }}">Contato</a>
                <li><a href="{{  url_for('user')  }}">Meu Perfil</a></li>
        </nav>
    </header>
    <!-- /Barra de Navegação-->

    <!-- Perfil -->
    <section>
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-pic-container">
                    <img src="../img/avatar.png" alt="Sua Foto" class="profile-pic">
                </div>
                <div class="profile-info">
                    <h1 id="username">Primeiro Nome</h1>
                    <p id="user-description" class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus iusto ex numquam reiciendis aut aliquam impedit consectetur pariatur culpa, hic omnis repellat quia officiis. Voluptas, sequi voluptates? Facere sed necessitatibus ratione accusamus, ullam soluta minima, laborum exercitationem odit quae culpa?</p>
                </div>
            </div>

            <!-- Detalhes do usuário -->
            <div class="profile-details">
                <div class="info-group-1">
                    <div class="info-item">
                        <label>Data de Nascimento:</label>
                        <p id="birthdate">DD/MM/AAAA</p>
                    </div>
                    <div class="info-item">
                        <label>Nome Completo:</label>
                        <p id="fullname">Nome Sobrenome Completo</p>
                    </div>
                    <div class="info-item">
                        <label>Cadastro:</label>
                        <p id="tipocadastro">Vendedor</p>
                    </div>
                </div>

                <div class="info-group-2">
                    <div class="info-item">
                        <label>Localização:</label>
                        <p id="location">Cidade, UF</p>
                    </div>
                    <div class="info-item">
                        <label>Email:</label>
                        <p id="email">usuario@example.com</p>
                    </div>
                    <div class="info-item">
                        <label>Instagram Profissional:</label>
                        <p id="social">@usuario</p>
                    </div>
                </div>
            </div>
            <!-- /Detalhes do usuário -->
        </div>
    </section>
    <!-- /Perfil -->

    <!-- Cards de Produtos -->
    <section class="products-container">
        <h1>Produtos</h1>
        <div class="products">

        <!-- Produto 1 -->
        <div class="product-card">
            <img src="../img/produto.png" alt="Produto 1">
            <div class="product-info">
                <h3>Nome do Produto 1</h3>
                <p>Descrição breve do Produto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at imperdiet libero.</p>
                <div class="product-footer">
                    <span class="product-price">R$ 299,90</span>
                    <a href="https://dashboard.kiwify.com.br" target="_blank">
                    <button class="buy-button">Comprar</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Produto 1 -->

        <!-- Produto 2 -->
        <div class="product-card">
            <img src="../img/produto.png" alt="Produto 1">
            <div class="product-info">
                <h3>Nome do Produto 1</h3>
                <p>Descrição breve do Produto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at imperdiet libero.</p>
                <div class="product-footer">
                    <span class="product-price">R$ 299,90</span>
                    <a href="https://dashboard.kiwify.com.br" target="_blank">
                    <button class="buy-button">Comprar</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Produto 2 -->
    </section>
    <!-- /Cards de Produtos -->

    <footer>
        <p>Copyright &copy; 2024 by &lt;/devxxctor.&gt; All rights Reserved</p>
    </footer>

    <script src="../static/js/perfil_visita.js"></script>

</body>
</html>