<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Premium!</title>
    <!-- Ícones Box-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Referência ao Arquivo CSS -->
    <link rel="stylesheet" href="../static/css/premium.css">
</head>
<body>
    <!-- Barra de Navegação-->
    <header>
        <a href="{{  url_for('home')  }}" class="logo">Prática Sênior</a>
        
        <nav>
            <ul class="nav">
                <li><a href="{{  url_for('loja')  }}">Loja Sênior</a></li>
                <li><a href="{{  url_for('vendas')  }}">Quero Vender</a></li>
                <a href="{{  url_for('home')  }}#produtos">Nossos Serviços</a>
                <a href="{{  url_for('home')  }}#contact">Contato</a>
                <li><a href="{{  url_for('user')  }}">Meu Perfil</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="premium-container">
            <h1>Seja Premium!</h1>
            <p>Desbloqueie todas as funcionalidades incríveis do nosso site ao se tornar um usuário premium.</p>

            <div class="features">
                <h2>Funcionalidades Premium</h2>
                <div class="feature-card">
                    <h3>Vendas Ilimitadas</h3>
                    <p>Venda quantos produtos quiser sem restrições.</p>
                </div>
                <div class="feature-card">
                    <h3>Suporte Prioritário</h3>
                    <p>Receba suporte prioritário 24/7 para resolver qualquer problema rapidamente.</p>
                </div>
                <div class="feature-card">
                    <h3>Acesso Exclusivo</h3>
                    <p>Acesse funcionalidades e produtos exclusivos para membros premium.</p>
                </div>
            </div>
    </section>

    <section class="testimonials">
        <h2 style="text-align: center;">Depoimentos</h2>
        <div class="testimonial-cards">

            <div class="testimonial-card">
                <img src="../img/depoimento.jpg" alt="Depoimento">
                <div class="testimonial-info">
                    <a href="perfil_visita.html" class="profile-link">
                        <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                        <i class='bx bx-user'></i>
                    </a>
                    <h4>João Silva</h4>
                    <p>São Paulo, cliente desde 2020</p>
                </div>
            </div>

            <div class="testimonial-card">
                <img src="../img/depoimento.jpg" alt="Depoimento">
                <div class="testimonial-info">
                    <a href="perfil_visita.html" class="profile-link">
                        <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                        <i class='bx bx-user'></i>
                    </a>
                    <h4>João Silva</h4>
                    <p>São Paulo, cliente desde 2020</p>
                </div>
            </div>

            <div class="testimonial-card">
                <img src="../img/depoimento.jpg" alt="Depoimento">
                <div class="testimonial-info">
                    <a href="perfil_visita.html" class="profile-link">
                        <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                        <i class='bx bx-user'></i>
                    </a>
                    <h4>João Silva</h4>
                    <p>São Paulo, cliente desde 2020</p>
                </div>
            </div> 

            <div class="testimonial-card">
                <img src="../img/depoimento.jpg" alt="Depoimento">
                <div class="testimonial-info">
                    <a href="perfil_visita.html" class="profile-link">
                        <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                        <i class='bx bx-user'></i>
                    </a>
                    <h4>João Silva</h4>
                    <p>São Paulo, cliente desde 2020</p>
                </div>
            </div>

            <div class="testimonial-card">
                <img src="../img/depoimento.jpg" alt="Depoimento">
                <div class="testimonial-info">
                    <a href="perfil_visita.html" class="profile-link">
                        <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                        <i class='bx bx-user'></i>
                    </a>
                    <h4>João Silva</h4>
                    <p>São Paulo, cliente desde 2020</p>
                </div>
            </div>

            <div class="testimonial-card">
                <img src="../img/depoimento.jpg" alt="Depoimento">
                <div class="testimonial-info">
                    <a href="perfil_visita.html" class="profile-link">
                        <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                        <i class='bx bx-user'></i>
                    </a>
                    <h4>João Silva</h4>
                    <p>São Paulo, cliente desde 2020</p>
                </div>
            </div>

        </div>
    </section>

    <section class="payment">
        <h1>Adquirir Premium por R$19,90</h1>

        <form id="paymentForm">
            <label for="card-name">Nome no Cartão:</label>
            <input type="text" id="card-name" name="card-name" placeholder="DA MESMA FORMA ESCRITA NO CARTÃO" required>

            <label for="card-number">Número do Cartão:</label>
            <input type="text" id="card-number" name="card-number" placeholder="1111 2222 3333 4444" required>

            <label for="expiry-date">Data de Validade:</label>
            <input type="text" id="expiry-date" name="expiry-date" placeholder="DD/MM/AA" required>

            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" placeholder="CÓDIGO DE SEGURANÇA DE 3 DÍGITOS NO VERSO" required>

            <button type="submit" class="btn">Tornar-se Premium</button>
        </form>
    </section>

    <footer>
        <p>Copyright &copy; 2024 by &lt;/devxxctor.&gt; All rights Reserved</p>
    </footer>

    <script src="../static/js/premium.js"></script>

</body>
</html>
