<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prática Sênior</title>
    <!-- Link Ref CSS -->
    <link rel="stylesheet" href="../static/css/vendas.css">
    <!-- /Link Ref CSS -->
</head>
<body>
    <!-- Barra de Navegação-->
    <header>
        <a href="{{  url_for('home')  }}" class="logo">Prática Sênior</a>
        
        <nav>
            <ul class="nav">
                <li><a href="{{ url_for('home')  }}#produtos">Nossos Serviços</a></li>
                <li><a href="{{ url_for('home')  }}#contact">Contato</a></li>
                <li><a href="{{  url_for('loja')  }}">Loja Sênior</a></li>

                {% if 'user_id' in session %}
                    <li><a href="{{  url_for('premium')  }}">Seja +</a></li>
                    <li><a href="{{  url_for('user')  }}">Meu Perfil</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{  url_for('register')  }}">Seja +</a></li>
                    <li><a href="{{  url_for('register')  }}">Meu Perfil</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </header>
    <!-- /Barra de Navegação -->

    <!-- PopUp de Mensagens -->
    {% with messages = get_flashed_messages(with_categories=True) %}    
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}" id="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <!-- /PopUp de Mensagens -->

    <!-- Área de Início -->
    <section class="home" id="home">
        <div class="text-container-home">
            <h1>A experiência da prática dos variados especialistas no mundo.</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quidem doloribus tenetur repellendus rem, sed porro deleniti aperiam saepe dolore, quia, sunt quos magnam laboriosam velit at adipisci consequatur expedita nesciunt accusamus tempora maiores qui ab. Adipisci blanditiis exercitationem deleniti neque culpa, molestias dicta tempora reiciendis saepe accusamus recusandae fuga autem nemo? Minima hic officia commodi, ab earum nulla aliquam ea doloremque iste. Aperiam, sapiente corporis mollitia libero officia aliquid consequuntur ab, harum consectetur facilis necessitatibus excepturi voluptas laborum, quae dolorem optio reiciendis expedita est sit officiis incidunt laudantium culpa voluptatibus iure. Officiis veniam, ea minus impedit amet aliquam nesciunt?</h2>
        </div>
    </section>
    <!-- /Área de Início -->

    <!-- Seção Home -->
    <section class="divform" id="divform">
        <div class="text-container">
            <h2 style="text-align: center;">Formulário para Criação do Produto</h2>
            <form action="{{ url_for('submit') }}" method="POST">
                <!-- Pergunta 1 -->
                <div class="form-group">

                    <!-- Pergunta 1 -->
                    <label for="question1">Pergunta 01</label>
                    <textarea type="text" id="question1" name="question1" required></textarea>
                    <p id="question1Counter">300 caracteres restantes</p>
                </div>

                <!-- /Pergunta 1 -->

                <!-- Pergunta 2 -->
                <div class="form-group">
                    <label for="question2">Pergunta 02</label>
                    <textarea type="text" id="question2" name="question2" required></textarea>
                    <p id="question2Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 2 -->

                <!-- Pergunta 3 -->
                <div class="form-group">
                    <label for="question3">Pergunta 03</label>
                    <textarea type="text" id="question3" name="question3" required></textarea>
                    <p id="question3Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 3 -->

                <!-- Pergunta 4 -->
                <div class="form-group">
                    <label for="question4">Pergunta 04</label>
                    <textarea type="text" id="question4" name="question4" required></textarea>
                    <p id="question4Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 4 -->

                <!-- Pergunta 5 -->
                <div class="form-group">
                    <label for="question5">Pergunta 05</label>
                    <textarea type="text" id="question5" name="question5" required></textarea>
                    <p id="question5Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 6 -->

                <!-- Pergunta 6 -->
                <div class="form-group">
                    <label for="question6">Pergunta 06</label>
                    <textarea type="text" id="question6" name="question6" required></textarea>
                    <p id="question6Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 6 -->

                <!-- Pergunta 7 -->
                <div class="form-group">
                    <label for="question7">Pergunta 07</label>
                    <textarea type="text" id="question7" name="question7" required></textarea>
                    <p id="question7Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 7 -->

                <!-- Pergunta 8 -->
                <div class="form-group">
                    <label for="question8">Pergunta 08</label>
                    <textarea type="text" id="question8" name="question8" required></textarea>
                    <p id="question8Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 8 -->

                <!-- Pergunta 9 -->
                <div class="form-group">
                    <label for="question9">Pergunta 09</label>
                    <textarea type="text" id="question9" name="question9" required></textarea>
                    <p id="question9Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 9 -->

                <!-- Pergunta 10 -->
                <div class="form-group">
                    <label for="question10">Pergunta 10</label>
                    <textarea type="text" id="question10" name="question10" required></textarea>
                    <p id="question10Counter">300 caracteres restantes</p>
                </div>
                <!-- /Pergunta 10 -->

                <button type="submit">Gerar Produto</button>
            </form>
        </div>
    </section>
    <!-- /Seção Home -->

        <!-- Depoimentos -->
        <section class="testimonials">
            <h2 style="text-align: center;">Sêniors que Utilizam o Serviço</h2>
            <div class="testimonial-cards">
    
                <div class="testimonial-card">
                    <img src="../img/depoimento.jpg" alt="Depoimento">
                    <div class="testimonial-info">
                        <a href="perfil.html" class="profile-link">
                            <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                            <i class='bx bx-user'></i>
                        </a>
                        <h4>João Silva</h4>
                        <p>São Paulo, cliente desde 2020</p>
                    </div>
                </div>
    
                <div class="testimonial-card">
                    <img src="../img/depoimento.jpg" alt="Depoimento">
                    <div class="testimonial-info">
                        <a href="perfil.html" class="profile-link">
                            <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                            <i class='bx bx-user'></i>
                        </a>
                        <h4>João Silva</h4>
                        <p>São Paulo, cliente desde 2020</p>
                    </div>
                </div>
    
                <div class="testimonial-card">
                    <img src="../img/depoimento.jpg" alt="Depoimento">
                    <div class="testimonial-info">
                        <a href="perfil.html" class="profile-link">
                            <img src="../img/perfil.jpg" alt="Foto do Usuário" class="user-profile">
                            <i class='bx bx-user'></i>
                        </a>
                        <h4>João Silva</h4>
                        <p>São Paulo, cliente desde 2020</p>
                    </div>
                </div> 
            </div>
        </section>
        <!-- /Depoimentos -->
    
    <!-- Seção de Direitos sobre o site-->
    <footer>
        <p>Copyright &copy; 2024 by &lt;/devxxctor.&gt; All rights Reserved</p>
    </footer>
    <!-- /Seção de Direitos sobre o site -->
    
    <!-- Referência ao Arquivo JavaScript -->
    <script src="../static/js/vendas.js"></script>

</body>
</html>
